body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

.date-inputs {
    display: flex;
    justify-content: space-between;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#logs-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-top: 20px;
}

#logs-table th,
#logs-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
